<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %c{1.} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <!--&lt;!&ndash; Application Loggers &ndash;&gt;-->
        <!--<Logger name="cn.goldensea" level="info"/>-->

        <!--&lt;!&ndash; 3rdparty Loggers &ndash;&gt;-->
        <!--<Logger name="org.springframework.core" level="info"/>-->
        <!--<Logger name="org.springframework.beans" level="info"/>-->
        <!--<Logger name="org.springframework.context" level="info"/>-->
        <!--<Logger name="org.springframework.web" level="info"/>-->

        <Root level="debug">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>